body{
    margin: 0;
    padding: 0;
}
.custom-img{
    width: 60px;
}
.custom-color{
    background-color: gray;
}
.menu{
    padding: 0px 15px;
}
.menu ul li{
    padding: 0px 15px;
}
.menu ul li a{
    color: blue !important;
    font-size: 22px;
}